NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCoXkLXy5hvWilXjNoV4UI60vszN32i_NY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=al-bunyan.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=al-bunyan
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=al-bunyan.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=485487858257
NEXT_PUBLIC_FIREBASE_APP_ID=1:485487858257:web:fe30398a03ac0f40e45e70

NEXT_PUBLIC_FIREBASE_VAPID_KEY=BJ_FrVm5mKnXCpaWf4XEFBKYu6MwnsSMmiM7v0jJoZnAi3ulvu06FkDUhVOlu0j2IH3OxP453qvuIGL-r4_M-fA

NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key